<button></button>
<form action="#" method="post">
 

    
    <fieldset class="formCol">
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo">
    <label for="autor">Autor</label>
    <input type="text" name="autor" id="autor">
    <label for="genero">Genero</label>
    <input type="text" name="genero" id="genero">
    <label for="editorial">Editorial</label>
    <input type="text" name="editorial" id="editorial">
    <label for="libro">Libro</label>
    <input type="radio" name="libro">
    <label for="disco">Disco</label>
    <input type="radio" name= "disco">
    <input type="submit">Guardar</input>
    </fieldset>
    <fieldset class="formCol">
    <input type="file" name="" id="">
    <label for="precio">Precio</label>
    <input type="number" name= "precio">
    <label for="stock">Stock</label>
    <input type="number" name= "stock">
    </fieldset>

</form>