<section class="container">

    <h2>Lista de libros</h2>
    <ul  id="listaLibros">
        {{#each listaLibros}}
            <li>

                {{>atoms/libro}}

            </li>
        {{/each}}
    </ul>

</section>