    <h2 class="listaDiscosTitulo">Lista de discos</h2>
    <ul  id="listaDiscos">
        {{#each listaDiscos}}
            <li>

                {{>atoms/disco}}

            </li>
        {{/each}} 
   </ul>



