    <h2  class="listaLibrosTitulo">Lista de libros</h2>
    <ul  id="listaLibros">
        {{#each listaLibros}}
            <li>

                <a href="/libroShow/{{this._id}}">{{>atoms/libro}}</a>

            </li>
        {{/each}}
    </ul>