

    <section>
        <form action="" method="post">
            {{#each usuarioImagen}}
                {{>atoms/wellcome}}
            {{/each}}
                <input type="text" id= "usuario" name="usuario">
                <label for= "usuario" >usuario</label>
                <button id= "entrar">entrar</button>
        </form>
    </section>   

