

        <form class="formularioLogin" action="" method="post">
            {{#each usuarioImagen}}
                {{>atoms/welcome}}
            {{/each}}
                <input type="text" id= "usuario" name="usuario" placeholder="USUARIO">
                <input type="submit" value="ENTRAR" id= "entrar" class= "btnLogin">
        </form> 

