<nav>

    <ul>
        <li><img src="" alt=""> Usuario</li>
        <li><a href="/edit">Nuevo producto</a></li>
        <li><a href="/">Catálogo</a></li>
        <input type="search" id="gsearch" name="gsearch" placeholder="🔎 😎 Buscador">
        <li><a href="#">Salir</a></li>
    </ul>



</nav>