<nav>

    <ul>
        <li><img src="" alt=""> Usuario</li>
        <li><a href="/new">Nuevo producto</a></li>
        <li><a href="/bookCatalog">Catálogo libros</a></li>
        <li><a href="/discCatalog">Catálogo discos</a></li>
        <input type="search" id="gsearch" name="gsearch" placeholder="🔎Buscador">
        <li><a href="/">Salir</a></li>
    </ul>



</nav>