<form class="formularioLogin" action="/formularioLogin" method="post">
    {{#each usuarioImagen}}
        {{>atoms/login/welcome}}
    {{/each}}
        {{>atoms/login/username}}
        {{>atoms/login/submit}}
</form> 

