<form class="formularioLogin" action="/login_form" method="post">
    {{#each user_img}}
        {{>atoms/login/welcome}}
    {{/each}}
        {{>atoms/login/username}}
        {{>atoms/login/submit}}
</form> 

