@import url("navBar.css");
@import url("listaCatalogo.css");
@import url("formulario.css");
@import url("login.css");

body{
    background-image: url("https://static3.elcorreo.com/www/multimedia/201907/22/media/cortadas/alfombra-pvc-discos-vinilos1-kWvC-U80815105344o8D-1248x770@El%20Correo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-content:center;
    height:100vh;
    grid-gap: 1rem;
}

h2{
    color: white;
}
