#listaLibros{
    grid-column: 3/7;
    grid-row: 2;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:1rem;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 1rem 0;
    justify-items: center;
}


#listaLibros figure{
    width: 10vw;
    height: 10vw;
    overflow: hidden;
}

#listaLibros img{
    width:100%;
}

#listaDiscos{
    grid-column: 3/7;
    grid-row: 2;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:1rem;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 1rem 0;
    justify-items: center;
}


#listaDiscos figure{
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    margin:0
}

#listaDiscos img{
    width:100%;
}

.listaLibrosTitulo{
    grid-column: 3/7;
    text-align: center;
}
.listaDiscosTitulo{
    grid-column: 3/7;
    text-align: center;
}

#listaDiscos li, #listaLibros li{
    justify-content: center;
    text-align: center;
}

.main-home .home-bookList #listaLibros{
    grid-column: 1/9;
}
.main-home .home-discList #listaDiscos{
    grid-column: 1/9;
}