nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 25px;
    background-color: #f96e58;
}
nav ul li{
    padding: 15px;
    color: white;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
nav input[type="search"]{
    border: none;
    border-radius: 6px 0 0 6px;
    height: 35px;
    width: 250px;
    margin-top: 8px;
    padding: 0 10px;
}
nav input[type="submit"]{
    border: none;
    border-radius: 0 6px 6px 0;
    height: 35px;
    width: 80px;
    margin-top: 8px;
    padding: 0 10px;
}
nav input[type="submit"]:hover{
    background-color: #ccc;
}