{{>organisms/navBar}}
<main>
    <section>
        {{>atoms/formularios/volver}}
        {{#if decision}}
            {{>organisms/listaLibros}}
        {{else}}
            {{>organisms/listaDiscos}}
        {{/if}}
    </section>
</main>