{{>organisms/navBar}}
<main>
    <section>
        {{>atoms/forms/back}}
        {{#if decision}}
            {{>organisms/bookList}}
        {{else}}
            {{>organisms/discList}}
        {{/if}}
    </section>
</main>