{{>organisms/navBar}}
<main class="main-home">
    <section class="home-bookList">
        
        {{>organisms/bookList}}
    
    </section>

    <section class="home-discList">

        {{>organisms/discList}}

    </section>
</main>