<main>

    <section>
        <form action="/formulario_login" method="POST">
            <label for="user">usuario</label>
            <input type="text" name="user">
            
            <input type="submit" value="enviar">
        </form>


        
    </section>
</main>