<form action="/editDisc/{{this._id}}" method="post" class="discoForm formulario edicion" >

    {{>atoms/formularios/volver_discos}}
    {{>molecules/formularios/col_izquierda}}
    {{>molecules/formularios/col_derecha}}

</form>