<form action="/editDisc/{{this._id}}" method="post" class="discoForm formulario edicion" >

    {{>molecules/formularios/editar_disco/col_izquierda}}
    {{>molecules/formularios/editar_disco/col_derecha}}

</form>