<form action="/editBook/{{this._id}}" method="post"class="libroForm formulario edicion">

    {{>molecules/formularios/col_izquierda}}
    {{>molecules/formularios/col_derecha}}      
        
</form>