<form action="/createDisc" method="POST" id="DiscoForm" class="newForm formulario tabcontent">

    {{>molecules/formularios/nuevo_disco/col_izquierda}}
    {{>molecules/formularios/nuevo_disco/col_derecha}}

</form>