<form action="/createBook" method="POST" id="LibroForm" class="newForm formulario tabcontent">

    {{>molecules/formularios/nuevo_libro/col_izquierda}}
    {{>molecules/formularios/nuevo_libro/col_derecha}}

</form>