{{>atoms/libro/titulo_lista_libros}}
<ul  id="listaLibros">
    {{#each listaLibros}}
        <li>

            <a href="/libroShow/{{this._id}}">{{>molecules/libro/libro}}</a>

        </li>
    {{/each}}
</ul>