    <h2 class="listaDiscosTitulo">Lista de discos</h2>
    <ul  id="listaDiscos">
        {{#each listaDiscos}}
            <li>

                <a href="/discoShow/{{this._id}}">{{>molecules/disco}}</a>

            </li>
        {{/each}} 
   </ul>



