*{
    margin: 0;
    padding: 0;
}
body{
    background: url(img/fondo_xp.jpg);
    
    
}
fieldset{
width: 200px;
height: 90px;
margin: 20% auto;
background-color: white;
}
label{
    padding-top: 5px;
}
label, input{
    margin: 5px;
}