<fieldset class="formCol colDerecha">

    <label for="urlImagen">Url de la portada</label>
    <input type="text" id="urlImagen" name="urlImagen">
    <label for="descripcion">Descripcion</label>
    <input type="text" id="descripcion" name="descripcion">
    <label for="precio">Precio</label>
    <input type="number" name= "precio" >
    <label for="stock">Stock</label>
    <input type="number" name= "stock" >
    <input type="submit" value="Guardar">

</fieldset>